/*
Rowodo custom styles
Botnet Dev
*/

/* custom colors */

:root {
    --lime-green : #0bf414;
    --sea-blue : #45c5ed;
    --my-orange : #cc6600;
    --my-brown : #993300;
    --go-green : #00ff99;
    --smartgreen : #2AD5BA;
    --link-color: #104977;

    --golden-yellow-2: #E9B01Eff;
    --pale-yellow: #E3D876ff;
    --forest-green: #159228ff;
    --pale-green: #5AB466ff;

}
/*
    green #1EB53A
    blue #00A3DD
*/

/* general */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* top */

/* header */

.top-nav-logo {
    height: 50px;
    width: auto;
}

.main-logo {
    height: 40px;
    width: auto;
}

#web-logo {
    height: 200px;
    width: auto;
}
#top-header {
    background-image: linear-gradient(to right, #1EB53A, #00A3DD);
    color : white;
}

.navbar {
    color: var(--forest-green);
    background-color:  var(--pale-yellow);
}

.nav-link {
    color: var(--forest-green);
}

.navbar a:hover {
    color: var(--golden-yellow-2) !important;
}

/* .top-homepage {
    
} */

/* jumbotron */

.jumbotron {
    background-image: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
}

.jumbo-header {
    color:#00A3DD;
    font-weight: 600;
}

#jumbo-index {
    background-color: black;
}

.jumbo-text {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
}
#jumbo-pics {
    width: 200px;
    height: auto;
    margin-left: -30px;
}
.jumbotron .lead {
    font-size: 1.5rem;
    font-weight: 500;
    color: #00A3DD;
}

/* main */

main {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section-title {
    color: var(--golden-yellow-2);
    font-family: poppins;
    font-weight: 700;
}

.section-title-icon {
    color: var(--golden-yellow-2);
    font-size: 2rem;
}

.sub-sections-header {
    color: var(--forest-green);
}

.page-subtitle {
    color: var(--forest-green);
}

.page-top-underline {
    background-color: var(--forest-green);
    width: 50px;
    height: 2px;
}

/* images */

#women-image {
    background-color: var(--forest-green);
    background-blend-mode: multiply;
}

.how-icons {
    color: var(--forest-green);
    font-size: 1.5rem;
}

#all-links {
    align-content: center;
}

.senior-late {
    color: var(--link-color);
    font-size: smaller;
    font-weight: bold;
}

.senior-late :hover {
    color: var(--my-orange);
}

.news-info {
    font-size : medium;
    font-weight: 400;
    color : #999999;
}

.news-info > a {
    color : #999999;
}

.news {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
#web-link {
    color: #1EB53A;
}

/* partners */

.partner-logo {
    height: 60px;
    width: auto;
}

#swissaid-logo {
    height: 50px;
}



/* footer */

footer {
    color: var(--forest-green);
    background-color: var(--pale-yellow);
}

footer a {
    color: var(--forest-green);
    /* text-decoration: none; */
}

.social {
    color: var(--forest-green);
}

footer h5 {
    font-weight: 700;
}

.footer-logo {
    height: 100px;
    width: auto;
}

#copy-left {
    background-color: var(--forest-green);
    font-weight: 400;
    color: var(--pale-yellow);
    padding-top: .5rem;
    padding-bottom: .5rem;
}
